# ===== Java / Spring Boot =====
target/
build/
*.jar
*.war
*.ear

# Logs
*.log

# IDE files
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

# ===== React / Node =====
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# ===== OS / Misc =====
.DS_Store
Thumbs.db

# Environment files
.env
